/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $global-font-family;
  line-height: 1.5;

  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: $type-size-3;
}

h2 {
  font-size: $type-size-4;
}

h3 {
  font-size: $type-size-5;
}

h4 {
  font-size: $type-size-6;
}

h5 {
  font-size: $type-size-6;
}

h6 {
  font-size: $type-size-6;
}

small,
.small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1.3em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  orphans: 3;
  widows: 3;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* blockquotes */

blockquote {
  margin: 2em 1em 2em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  border-left: 0.25em solid $primary-color;

  cite {
    font-style: italic;

    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}

/* links */

a {
  &:focus {
    @extend %tab-focus;
  }

  &:visited {
    color: $link-color-visited;
  }

  &:hover {
    color: $link-color-hover;
    outline: 0;
  }
}

/* buttons */

button:focus {
  @extend %tab-focus;
}

/* code */

tt,
code,
kbd,
samp,
pre {
  font-family: $monospace;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 0.8em;
  background: $code-background-color;
  border-radius: $border-radius;
  color: yellow;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; /* non-breaking space*/
  }
}

/* horizontal rule */

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid $border-color;
}

/* lists */

ul li,
ol li {
  margin-bottom: 0.5em;
}

li ul,
li ol {
  margin-top: 0.5em;
}

/*
   Media and embeds
   ========================================================================== */

/* Figures and images */

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
    -webkit-transition: $global-transition;
    transition: $global-transition;
  }

  > a {
    display: block;
  }

  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }

  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }
}

/* Figure captions */

figcaption {
  margin-bottom: 0.5em;
  color: $muted-text-color;
  font-family: $caption-font-family;
  font-size: $type-size-6;

  a {
    -webkit-transition: $global-transition;
    transition: $global-transition;

    &:hover {
      color: $link-color-hover;
    }
  }
}

/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}

/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */

nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }
}

/*
   Global animation transition
   ========================================================================== */

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a,
tr,
td,
form button,
input[type="submit"],
.btn,
.highlight,
.archive__item-teaser {
  -webkit-transition: $global-transition;
  transition: $global-transition;
}


/*
   Titulos dde los posts.
   ========================================================================== */

.htb {
    color: #0af407; 
}

.elearnsecurity_azul{
	color: #1855BF;
}

.elearnsecurity_morado{
	color: #A12587;
}

.elearnsecurity_rojo{
	color: #e23820;
}

.vulnhub_azul{
    color: cyan;
}

.vulnhub_naranja{ 
    color: orange;
}

.post{
    color: royalblue;
}

.starting_point{
   color: #9400ff;
}

.es_rojo{
   color: #e60026;
}

.es_amarillo{
  color: yellow;
}

.en_rojo{
   color: #e60026;
}

.en_blanco{
   color: white;
} 

.en_azul{
   color: blue;
} 
/*
   Animaciones para el nombre.
   ========================================================================== 
*/

.glitch{
  color:white;
  //font-size:25px;
  position:relative;
  //margin:0 auto;
  width: 100%;
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-3px;
  text-shadow:1.5px 0 blue;
  top:0;
  color:white;
  background: #04101f;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim-2 3s infinite linear alternate-reverse;
  width: 100%;
}

.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1.5px 0 red;
  top:0;
  color:white;
  background: #04101f;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim 3s infinite linear alternate-reverse;
  width: 100%;
}

@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}


/*#root*/





.end1, .middle1, .middle2{
    display: inline-block;
    overflow:hidden;
    height: 1.10em;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
}
.end2{
    position:absolute;
    color:#ff6a00
}
.middle1, .middle2{
    color: #cfcfcf
}
.middle1 {
    animation: ani1 10s infinite;
    animation-delay: -3s;
    max-width: 0;
}
.middle2 {
    animation: ani2 10s infinite;
    animation-delay: -3s;
    max-width: 0;
}

@keyframes ani1 {
    0% {
    max-width: 500px;
  }
  
  25% {
    max-width: 0;
  }
  
  75% {
    max-width: 0;
  }
  
  90% {
    max-width: 500px;
  }
  
  100% {
    max-width: 500px;
  }
}

@keyframes ani2 {
    0% {
        max-width: 0;
    }

    25% {
        max-width: 0;
    }

    50% {
        max-width: 500px;
    }

    75% {
        max-width: 0;
    }

    100% {
        max-width: 0;
    }
}

/* typing animation */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.typing_animation {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 1em;
  color: rgba(255,255,255,.70);
}

.typing_animation_2 {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  color: rgba(255,255,255,.70);
}

.typing_animation_3 {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  color: rgba(255,255,255,.70);
}

/* Animation */
.typing_animation {
  animation: animated-text 1s steps(23,end) 1s 1 normal both,
             animated-cursor 600ms steps(23,end) infinite;
}

.typing_animation_2 {  
  animation: animated-text_2 1s steps(11,end) 2s 1 normal both,
             animated-cursor 600ms steps(11,end) infinite;
}

.typing_animation_3 {
  animation: animated-text_3 1s steps(17,end) 3s 1 normal both,
             animated-cursor 600ms steps(17,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 11em;}
}

@keyframes animated-text_2{
  from{width: 0;}
  to{width: 6.5em;}
}

@keyframes animated-text_3{
  from{width: 0;}
  to{width: 8.5em;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: white;}
  to{border-right-color: transparent;}
}
